* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  background-color: rgb(206, 206, 206);
}
h1 {
  margin: 5rem auto;
  font-weight: bold;
  color: #7b01d7;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem #fff;
  text-align: center;
}
